{% extends 'user/baseLogin.html.twig' %}
    {% block title %}
        <title>verification</title>
    {% endblock %}
  {% block form %}
                <form action="#" method="post">
                {{ form_start(form) }}
                <div class="form-group first">
                    {{ form_label(form.verificationCode) }}
                    {{ form_widget(form.verificationCode, {'attr': {'class': 'form-control'}}) }}
                </div>
                {% for message in app.flashes('codeError') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}  
                        <input type="submit" value="Confirm" class="btn btn-block btn-primary">
                   {{ form_end(form) }}       
                </form>
  {% endblock %}
